/*
This file includes the color definitions
*/

$primary-white-color : #FFFFFF;
$primary-off-white-color: #EAEBEC;
$primary-blue-color:#072B45;

$secondary-grey-color: #f6f7f8;

$box-shadow-color:#f2f2f296;

$input-border-color: #A3A3A3;
