/*
This file contains the variables defintions
*/

// Responsive design break points
$mobile-width: 639px;
$tablet-portait-width: 959px;
$tablet-landscape-width: 1279px;
$desktop-width: 1280px;
$large-desktop-width: 1440px;

// layout varaibles
$max-layout-width: 1440px;

//font size variables
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-17: 18px;